<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Forgot password</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="icon" th:href="@{/fontawesome/svgs/solid/list-alt.svg}">
</head>

<body>
    <div th:insert="fragments/header :: header"></div>
    <div class="container w-50 p-3 pt-5 h-100">
        <h1 class="display-5">Forgot Password</h1>
        <div class="text-center" th:if="${valid}">
            <div id="emailSent-msg" th:if="${emailSent}" class="alert alert-success">
                <div th:text="${emailSent}"></div>
            </div>
            <div id="emailResent-msg" th:if="${emailResent}" class="alert alert-success">
                <div th:text="${emailResent}"></div>
            </div>
            <div id="emailResentCooldown-msg" th:if="${cooldownResendEmail}" class="alert alert-warning">
                <div th:text="${cooldownResendEmail}"></div>
            </div>
            <a class="btn btn-primary mt-2" th:href="@{/resendTokenEmail}">Resend an email</a>
        </div>
        <div th:unless="${valid}">
            <form action="#" th:action="@{/forgot-password}" method="POST">
                <div id="error-msg" th:if="${error}" class="alert alert-danger text-center">
                    <div th:text="${error}"></div>
                </div>
                <div id="emailSentNumberExceeded-msg" th:if="${emailSentNumberExceeded}"
                    class="alert alert-danger text-center">
                    <div th:text="${emailSentNumberExceeded}"></div>
                </div>
                <div class="mb-3">
                    <label for="inputEmail">Email</label>
                    <input id="inputEmail" type="email" name="email" class="form-control" required>
                </div>
                <button id="submit-button" type="submit" class="btn btn-primary">Send</button>
            </form>
        </div>
    </div>
</body>

</html>