<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="icon" th:href="@{/fontawesome/svgs/solid/list-alt.svg}">
</head>

<body>

    <div th:insert="fragments/header :: header"></div>

    <div class="container w-50 p-3 pt-5 h-100 mb-6">
        <h1 class="display-5">Login to Chirpchat</h1>

        <div id="deleteAccount-msg" th:if="${deleteSuccess}">
            <div class="alert alert-success">Your account has been successfully deleted !</div>
        </div>

        <form th:action="@{/login}" method="POST">
            <div id="error-msg" th:if="${loginError}">
                <div class="alert alert-danger" th:text="${loginError}"></div>
            </div>

            <div id="logout-msg" th:if="${param.logout}">
                <p class="alert alert-success">You have been logged out</p>
            </div>
            <label for="inputUsername">Username</label>
            <input type="text" name="username" id="inputUsername" class="form-control" minlength="4" maxlength="30"
                required>

            <div class="mb-3">
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" maxlength="128" required>
            </div>
            <div class="mb-3">
                <a th:href="@{/forgot-password}">Forgot Password?</a>
            </div>
            <button id="submit-button" type="submit" class="btn btn-primary">Login</button>
        </form>
        <br>
        <h5>Single Sign-On</h5>
        <ul class="list-group">
            <li class="list-group-item">
                <a th:href="@{/oauth2/authorization/github}">GitHub</a>
            </li>
            <li class="list-group-item">
                <a th:href="@{/oauth2/authorization/google}">Google</a>
            </li>
        </ul>
    </div>
    <div th:insert="fragments/footer :: footer"></div>
</body>

</html>