<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Comment</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>

<body>

    <div th:insert="fragments/header :: header"></div>

    <div class="container pt-5 h-100">

        <h1 class="display-6" th:text="|${restaurant.name} comments|"></h1>

        <br>
        <p>
            <a class="btn btn-primary" th:href="@{/comment/add/{id}(id=${restaurant.id})}">Add comment</a>
        </p>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Comment</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="comment : ${comments}">
                    <td th:text="${comment.username}"></td>
                    <td th:text="${comment.commentText}"></td>
                    <td th:text="${comment.createdAt}"></td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>