<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Policy</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

</head>

<body>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <div th:insert="fragments/header :: header"></div>
    <div class="row justify-content-center w-100 pt-5">
        <div class="container col-2 mt-3">
            <nav id="navbar-1" class="h-100 flex-column align-items-stretch pe-4 border-end position-fixed col-2">
                <nav class="nav nav-pills flex-column">
                    <a class="nav-link p-1 fs-7" href="#list-item-1">Privacy policy</a>
                    <a class="nav-link p-1 fs-7" href="#list-item-2">What data do we collect?</a>
                    <a class="nav-link p-1 fs-7" href="#list-item-3">How do we collect your data?</a>
                    <a class="nav-link p-1 fs-7" href="#list-item-4">How will we use your data?</a>
                    <a class="nav-link p-1 fs-7" href="#list-item-5">How do we store your data?</a>
                    <a class="nav-link p-1 fs-7" href="#list-item-6">Marketing </a>
                    <a class="nav-link p-1 fs-7" href="#list-item-7">What are your data protection rights?</a>
                    <a class="nav-link p-1 fs-7" href="#list-item-8">What are cookies?</a>
                    <a class="nav-link p-1 fs-7" href="#list-item-9">Privacy policy</a>
                    <a class="nav-link p-1 fs-7" href="#list-item-10">How do we use cookies?</a>
                    <a class="nav-link p-1 fs-7" href="#list-item-11">What types of cookies do we use?</a>
                    <a class="nav-link p-1 fs-7" href="#list-item-12">How to manage your cookies?</a>
                    <a class="nav-link p-1 fs-7" href="#list-item-13">Privacy policies of other websites</a>
                    <a class="nav-link p-1 fs-7" href="#list-item-14">Changes to our privacy policy</a>
                    <a class="nav-link p-1 fs-7" href="#list-item-15">How to contact us?</a>
                </nav>
            </nav>
        </div>
        <div class="container col-9 mt-4 pb-5">
            <div data-bs-spy="scroll" data-bs-target="#navbar-1" data-bs-smooth-scroll="true"
                class="scrollspy-example-2" tabindex="0">
                <div class="h2 mb-3" id="list-item-1">Privacy Policy</div>
                <p>This page informs you of our policies regarding the collection, use, and disclosure of personal data
                    when
                    you
                    use our Service and the choices you have associated with that data. The document will describe how
                    our
                    project uses the personal data we collect from you when you use our website.</p>
                <p>Topics:</p>
                <ul>
                    <li>
                        <p>What data do we collect?</p>
                    </li>
                    <li>
                        <p>How do we collect your data?</p>
                    </li>
                    <li>
                        <p>How will we use your data?</p>
                    </li>
                    <li>
                        <p>How do we store your data?</p>
                    </li>
                    <li>
                        <p>Marketing</p>
                    </li>
                    <li>
                        <p>What are your data protection rights?</p>
                    </li>
                    <li>
                        <p>What are cookies?</p>
                    </li>
                    <li>
                        <p>How do we use cookies?</p>
                    </li>
                    <li>
                        <p>What types of cookies do we use?</p>
                    </li>
                    <li>
                        <p>How to manage your cookies</p>
                    </li>
                    <li>
                        <p>Privacy policies of other websites</p>
                    </li>
                    <li>
                        <p>Changes to our privacy policy</p>
                    </li>
                    <li>
                        <p>How to contact us</p>
                    </li>
                    <li>
                        <p>How to contact the appropriate authorities</p>
                    </li>
                </ul>
                <div class="h4 mb-3" id="list-item-2">What data do we collect?</div>
                <p>Our project collects the following data:</p>
                <ul>
                    <li>
                        <p>Personal identification information (Name, email address, country, demographic, etc.)</p>
                    </li>
                    <li>
                        <p>The messages that you post on our website</p>
                    </li>
                </ul>
                <div class="h4 mb-3" id="list-item-3">How do we collect your data? </div>
                <p>You directly provide our project with most of the data we collect. We collect data and process data
                    when
                    you:</p>
                <ul>
                    <li>
                        <p>Register online</p>
                    </li>
                    <li>
                        <p>Post messages on our website</p>
                    </li>
                    <li>
                        <p>Voluntarily complete a customer survey or provide feedback on any of our message boards or
                            via
                            email.</p>
                    </li>
                    <li>
                        <p>Use or view our website via your browser&apos;s cookies.</p>
                    </li>
                </ul>
                <div class="h4 mb-3" id="list-item-4">How will we use your data? </div>
                <p>Our project collects your data so that we can:</p>
                <ul>
                    <li>
                        <p>Analyze type of messages posted based on your demographic</p>
                    </li>
                    <li>
                        <p>Pinpoint our focus group</p>
                    </li>
                    <li>
                        <p>Recommend posts that are similar to your previous post</p>
                    </li>
                    <li>
                        <p>Personalize advertisement</p>
                    </li>
                </ul>
                <div class="h4 mb-3" id="list-item-5">How do we store your data? </div>
                <p>Our project securely stores your data at third parties NoSQL database with encryption.</p>
                <p>Our project will keep your posts for 3 months. Once this time period has expired, we will delete your
                    data
                    based on the delta time.</p>
                <div class="h4 mb-3" id="list-item-6">Marketing </div>
                <p>Our project would like to send you information about products and services of ours that we think you
                    might
                    like.</p>
                <p>If you have agreed to receive marketing, you may always opt out at a later date.</p>
                <p>You have the right at any time to stop our project from contacting you for marketing purposes.</p>
                <p>If you no longer wish to be contacted for marketing purposes, please contact us.</p>
                <div class="h4 mb-3" id="list-item-7">What are your data protection rights? </div>
                <p>Our project would like to make sure you are fully aware of all of your data protection rights. Every
                    user
                    is
                    entitled to the following:</p>
                <p>The <u>right to access</u>- You have the right to request our project for copies of your personal
                    data.
                    We may charge you a small fee for this service.</p>
                <p>The <u>right to rectification</u> - You have the right to request that our project correct any
                    information
                    you believe is inaccurate. You also have the right to request Our Project to complete information
                    you
                    believe is incomplete.</p>
                <p>The <u>right to erasure</u> - You have the right to request that Our Project erase your personal
                    data,
                    under
                    certain conditions.</p>
                <p>The <u>right to restrict processing </u>- You have the right to request that our project restrict the
                    processing of your personal data, under certain conditions.</p>
                <p>The <u>right to object to processing</u>- You have the right to object to our project&rsquo;s
                    processing of your personal data, under certain conditions.</p>
                <p>The <u>right to data portability</u>- You have the right to request that our project transfer the
                    data
                    that we have collected to another organization, or directly to you, under certain conditions.</p>
                <p>If you make a request, we have one month to respond to you. If you would like to exercise any of
                    these
                    rights, please contact us at ouremail: <strong>nanthakarn.l@ku.th</strong></p>
                <p>Call us at: <strong>0909544163</strong></p>
                <p>Or write to us: <strong>329 Lat Phrao 94 Alley, Phlabphla, Wang Thonglang, Bangkok 10310</strong></p>
                <div class="h4 mb-3" id="list-item-8">What are cookies? </div>
                <p>Cookies are text files placed on your computer to collect standard Internet log information and
                    visitor
                    behavior information. When you visit our websites, we may collect information from you automatically
                    through
                    cookies or similar technology.</p>
                <p>For further information, visit <a href="https://allaboutcookies.org/">allaboutcookies.org</a>.</p>
                <div class="h4 mb-3" id="list-item-9">How do we use cookies? </div>
                <p>Our project uses cookies in a range of ways to improve your experience on our website, including:</p>
                <ul>
                    <li>
                        <p>Keeping you signed in</p>
                    </li>
                    <li>
                        <p>Understanding how you use our website</p>
                    </li>
                    <li>
                        <p>Keep track of user&rsquo;s navigation</p>
                    </li>
                </ul>
                <div class="h4 mb-3" id="list-item-10">What types of cookies do we use? </div>
                <p>There are a number of different types of cookies, however, our website uses:</p>
                <ul>
                    <li>
                        <p>Functionality - Our project uses these cookies so that we recognize you on our website and
                            remember
                            your previously selected preferences. These could include what language you prefer and
                            location
                            you
                            are in. A mix of first-party and third-party cookies are used.</p>
                    </li>
                    <li>
                        <p>Advertising - Our project uses these cookies to collect information about your visit to our
                            website,
                            the content you viewed, the links you followed and information about your browser, device,
                            and
                            your
                            IP address.</p>
                    </li>
                </ul>
                <div class="h4 mb-3" id="list-item-11">How to manage cookies?</div>
                <p>You can set your browser not to accept cookies, and the above website tells you how to remove cookies
                    from
                    your browser. However, in a few cases, some of our website features may not function as a result.
                </p>
                <div class="h4 mb-3" id="list-item-12">Privacy policies of other websites </div>
                <p>Our project&rsquo;s website may contain links to other websites. Our privacy policy applies only to
                    our
                    website, so if you click on a link to another website, you should read their privacy policy.</p>
                <div class="h4 mb-3" id="list-item-13">Changes to our privacy policy </div>
                <p>Our project keeps its privacy policy under regular review and places any updates on this web page.
                    This
                    privacy policy was last updated on 13th March 2023.</p>
                <div class="h4 mb-3" id="list-item-14">How to contact us? </div>
                <p>If you have any questions about our project&rsquo;s privacy policy, the data we hold on you, or you
                    would
                    like to exercise one of your data protection rights, please do not hesitate to contact us.</p>
                <p>Email as at: <strong>nanthakarn.l@ku.th</strong></p>
                <p>Call us at: <strong>0909544163</strong></p>
                <p>Or write to us: <strong>329 Lat Phrao 94 Alley, Phlabphla, Wang Thonglang, Bangkok 10310</strong></p>
                <div class="h4 mb-3" id="list-item-15">How to contact the appropriate authority? </div>
                <p>Should you wish to report a complaint or if you feel that our project has not addressed your concern
                    in a
                    satisfactory manner, you may contact the Ministry of Digital Economy and Society.</p>
                <p>Email: <strong>pr@mdes.go.th</strong></p>
                <p>Address: <strong>Chaeng Watthana Government Complex, Building B, Chaeng Watthana Road, Lak Si,
                        Bangkok</strong></p>
            </div>
        </div>
    </div>
</body>

</html>