<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">
    <title>Reset password</title>
</head>

<body>
    <div th:insert="fragments/header :: header"></div>
    <div class="container w-50 p-3 pt-5 h-100">
        <h1 class="display-5">Reset password</h1>

        <div id="error-msg" th:if="${error}" class="alert alert-danger">
            <div th:text="${error}"></div>
        </div>
        <div id="valid-msg" th:if="${valid}" class="alert alert-success">
            <div th:text="${valid}"></div>
        </div>
        <form action="#" th:action="@{/reset-password}" th:object="${signupDto}" method="POST">
            <div class="mb-3">
                <label for="inputPassword">Password</label>
                <input id="inputPassword" type="password" th:field="*{password}" class="form-control">
                <div class="alert alert-warning" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
            </div>
            <div class="mb-3">
                <label for="inputConfirmPassword">Confirmation password</label>
                <input id="inputConfirmPassword" type="password" th:field="*{confirmPassword}" class="form-control">
                <div class="alert alert-warning" th:if="${#fields.hasErrors('confirmPassword')}"
                    th:errors="*{confirmPassword}">
                </div>
            </div>
            <button id="submit-button" type="submit" class="btn btn-primary">Reset</button>
        </form>
    </div>
</body>

</html>