<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Restaurant</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>

<body>
    <div th:insert="fragments/header :: header"></div>
    <div class="container pt-5 h-100">
        <h1 class="display-6">Restaurants</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Rating</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="restaurant : ${restaurants}">
                    <td th:text="${restaurant.name}"></td>
                    <td th:text="${restaurant.address}"></td>
                    <td th:text="${restaurant.rating}"></td>
                </tr>
            </tbody>
        </table>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Comment</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="comment : ${comments}">
                    <td th:text="${comment.username}"></td>
                    <td th:text="${comment.commentText}"></td>
                    <td th:text="${comment.createdAt}"></td>
                </tr>
            </tbody>
        </table>
        <h1 class="display-6">Add comment</h1>

        <form th:action="@{/comment/add}" method="POST">
            <div>
                <label for="commentTextInput" class="form-label">Comments</label>
                <input id="commentTextInput" type="text" class="form-control" name="commentText">
            </div>
            <button type="submit" class="btn btn-primary">Add comment</button>
        </form>
    </div>
</body>

</html>