<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Signup_success</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<body>

    <div th:insert="fragments/header :: header"></div>

    <div class="container text-center pt-5 h-100">
        <h3>One last step before successfully complete your account!</h3>
        <p>Please check your email to verify your account. If you don't receive the validation email
            verify you spam, otherwise click on the link below to receive another validation email.
        </p>
        <!-- <a th:href="@{/resendValidationEmail}">Resend a validation email</a> -->
    </div>
</body>