<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<body>

    <div th:insert="fragments/header :: header"></div>

    <div class="container w-50 p-3">
        <h1 class="display-5">Login to Kin Kao</h1>

        <form th:action="@{/login}" method="POST" modelAttribute="lastUser" th:object="${signupDto}">

            <div id="error-msg" th:if="${loginError}" class="alert alert-danger">
                <span th:text="${loginError}"></span>
            </div>
            <div id="logout-msg" th:if="${param.logout}" class="alert alert-success">
                You have been logged out
            </div>
            <label for="inputUsername">Username</label>
            <input type="text" th:field="*{username}" id="inputUsername" class="form-control" required>

            <div class="mb-3">
                <label for="inputPassword">Password</label>
                <input type="password" th:field="*{password}" id="inputPassword" class="form-control" required>
            </div>
            <button id="submit-button" type="submit" class="btn btn-primary">Login</button>
        </form>
        <br>
        <h5>Single Sign-On</h5>
        <ul class="list-group">
            <li class="list-group-item">
                <a th:href="@{/oauth2/authorization/github}">GitHub</a>
            </li>
            <li class="list-group-item">
                <a th:href="@{/oauth2/authorization/google}">Google</a>
            </li>
        </ul>

    </div>
</body>

</html>