<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Thread</title>
    <link rel="icon" th:href="@{/fontawesome/svgs/solid/list-alt.svg}">
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/fontawesome/css/all.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>

<body>
    <div th:insert="fragments/header :: header"></div>


    <div class="container p-3 pt-5 h-100 mb-6">
        <!-- Add a post -->
        <div class="container h-100 w-50">
            <h1 class="display-6">Add Post</h1>
            <div class="card shadow-lg bg-white">
                <div class="card-body">
                    <form th:action="@{/post/add}" th:object="${postRequest}" method="POST">
                        <div class="mb-3">
                            <label for="nameInput" class="form-label">Name</label>
                            <input class="form-control" id="nameInput" th:field="*{name}" type="text">
                            <div class="alert alert-warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="addressInput" class="form-label">Address</label>
                            <input class="form-control" id="addressInput" th:field="*{address}" type="text">
                            <div class="alert alert-warning" th:if="${#fields.hasErrors('address')}"
                                th:errors="*{address}">
                            </div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="mb-3">
                                <label for="ratingInput" class="form-label">Rating</label>
                                <div class="d-flex justify-content-between w-25">
                                    <p>0</p><input class="form-range ms-2 me-2" type="range" id="ratingInput"
                                        th:field="*{rating}" min="0" max="5">
                                    <p>5</p>
                                    <div class="alert alert-warning" th:if="${#fields.hasErrors('rating')}"
                                        th:errors="*{rating}">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary h-100 align-self-end"><i
                                    class='fas fa-pen'></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- See the posts -->
        <div class="container pt-5 h-100 w-75">
            <h1 class="display-6">Thread</h1>

            <div class="d-flex justify-content-between">
                <h4>Name</h4>
                <h4>Address</h4>
                <h4>Rating</h4>
            </div>
            <div class="card shadow-lg bg-white mb-5" th:each="post : ${posts}">
                <div class="card-header fw-bold">
                    <div class="d-flex justify-content-between">
                        <p class="m-0" th:text="${post.name}"></p>
                        <p class="m-0" th:text="${post.address}"></p>
                        <p class="m-0" th:text="${post.rating}"></p>
                    </div>
                </div>
                <div class="">
                    <div class="border" th:each="comment : ${post.comments}">
                        <!-- Comment informations -->
                        <div class="card-header">

                            <!-- <div class="d-flex mr-3">
                        <a href=""><img class="img-fluid rounded-circle"
                                src="http://www.themashabrand.com/templates/bootsnipp/post/assets/img/users/4.jpg"
                                alt="User"></a>
                    </div> -->
                            <div class="d-flex justify-content-between">
                                <p class="m-0" th:text="${comment.username}"></p>
                                <small><span><i class="icon ion-md-time"
                                            th:text="${comment.createdAt}"></i></span></small>
                            </div>
                        </div>

                        <div class="card-body d-flex justify-content-between">
                            <!-- Comment message -->
                            <span class="p-2" th:text="${comment.commentText}"></span>

                            <!-- Delete button -->
                            <div th:if="${comment.username} == ${#authentication.name}">
                                <form th:action="@{/comment/delete/{id}(id=${comment.id})}" method="POST">
                                    <button class="btn btn-danger"><i class='fas fa-trash-alt'></i></button>
                                </form>
                            </div>
                        </div>

                        <!-- <span class="comment-avatar float-left">
                    <a href=""><img class="rounded-circle"
                            src="http://www.themashabrand.com/templates/bootsnipp/post/assets/img/users/6.jpg"
                            alt="..."></a>
                </span> -->
                    </div>
                    <div class="cardbox-comments mt-2 mb-2 d-flex">
                        <form th:action="@{/comment/add/{id}(id=${post.id})}" method="POST"
                            class="col-11 d-flex flex-row justify-content-center p-2">
                            <input id="commentTextInput" type="text" class="form-control w-75" name="commentText"
                                placeholder="Write a comment" required>
                            <button class="btn btn-primary"><i class='far fa-paper-plane'></i></button>
                        </form>
                        <div sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                            <form th:action="@{/post/delete/{id}(id=${post.id})}" method="POST"
                                class="p-2">
                                <button class="btn btn-danger align-self-end"><i class='fas fa-trash-alt'></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:insert="fragments/footer :: footer"></div>
</body>

</html>