<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Thread</title>
    <link rel="icon" th:href="@{/fontawesome/svgs/solid/list-alt.svg}">
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/fontawesome/css/all.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>

<body>
    <div th:insert="fragments/header :: header"></div>
    <!-- User profile -->
    <div class="container p-3 pt-5 h-100 mb-6">
        <div class="container w-75">
            <h1 class="display-6">Your profile</h1>
            <div class="card shadow-lg bg-white mb-5 p-3">
                <div class="d-flex flex-column">
                    <div class="d-flex flex-row">
                        <label class="fw-bold">First Name : </label>
                        <p class="ms-3" th:text="${member.firstName}"></p>
                    </div>
                    <div class="d-flex flex-row">
                        <label class="fw-bold">Last Name : </label>
                        <p class="ms-3" th:text="${member.lastName}"></p>
                    </div>
                    <div class="d-flex flex-row">
                        <label class="fw-bold">Username : </label>
                        <p class="ms-3" th:text="${member.username}"></p>
                    </div>
                    <div class="d-flex flex-row">
                        <label class="fw-bold">Email : </label>
                        <p class="ms-3" th:text="${member.email}"></p>
                    </div>
                    <div class="mb-3">
                        <a class="btn btn-primary stretched-link" th:href="@{/reset-password}">Change your password</a>
                    </div>
                    <div class="d-flex justify-content-end" sec:authorize="hasRole('ROLE_USER')">
                        <a class="btn btn-danger stretched-link" th:href="@{/delete-account}">Delete your
                            account</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- See the posts -->
        <div class="container pt-5 h-100 w-75">
            <h1 class="display-6">Thread</h1>

            <div class="d-flex justify-content-between">
                <h4>Username</h4>
                <h4>Posted at</h4>
            </div>
            <div class="card shadow-lg bg-white mb-5" th:each="post : ${posts}">
                <div class="card-header fw-bold bg-body-secondary">
                    <div class="d-flex justify-content-between">
                        <p class="m-0" th:text="${post.username}"></p>
                        <p class="m-0" th:text="${post.createdAt}"></p>
                    </div>
                </div>

                <div class="card-body border-bottom border-card">
                    <p class="m-0" th:text="${post.postText}"></p>
                </div>

                <div class="card-body p-0 bg-light">
                    <h4 class="text-center bg-light p-2 border-bottom">Comments</h4>
                    <div th:each="comment : ${post.comments}">
                        <!-- Comment informations -->
                        <div class="p-2 border-bottom">
                            <div class="d-flex justify-content-between fw-bold">
                                <p class="m-0" th:text="${comment.username}"></p>
                                <small><span><i class="icon ion-md-time"
                                            th:text="${comment.createdAt}"></i></span></small>
                            </div>

                            <div class="d-flex justify-content-between">
                                <!-- Comment message -->
                                <span class="pt-2" th:text="${comment.commentText}"></span>

                                <!-- Delete comment button -->
                                <div
                                    th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')') || comment.username == #authentication.name}">
                                    <form th:action="@{/comment/delete/{id}(id=${comment.id})}" method="POST"
                                        class="mb-2">
                                        <button class="btn btn-danger"><i class='fas fa-trash-alt'></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Add comment -->
                    <div class="cardbox-comments">
                        <form th:action="@{/comment/add/{id}(id=${post.id})}" method="POST"
                            th:object="${commentRequest}" class="d-flex flex-row justify-content-center p-2">
                            <textarea id="commentText" th:field="*{commentText}" class="form-commentText"
                                maxlength="300" placeholder="Write a comment"></textarea>
                            <div class="alert alert-warning" th:if="${#fields.hasErrors('commentText')}"
                                th:errors="*{commentText}">
                            </div>
                            <button class="btn btn-primary"><i class='far fa-paper-plane'></i></button>
                        </form>
                    </div>
                </div>
                <!-- Delete post button -->
                <div class="card-footer p-2 bg-body-secondary">
                    <div class="d-flex align-self-end justify-content-end"
                        th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')') || post.username == #authentication.name}">
                        <form th:action="@{/post/delete/{id}(id=${post.id})}" method="POST">
                            <button class="btn btn-danger"><i class='fas fa-trash-alt'></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:insert="fragments/footer :: footer"></div>
</body>

</html>