<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Thread</title>
    <link rel="icon" th:href="@{/fontawesome/svgs/solid/list-alt.svg}">
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/fontawesome/css/all.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>

<body>
    <div th:insert="fragments/header :: header"></div>

    <h1 class="display-6">See your activities</h1>
    <div class="container p-3 pt-5 h-100 mb-6">
        <div class="container w-75">
            <h1 class="display-6">Your profile</h1>
            <div class="card shadow-lg bg-white mb-5 p-3">
                <div class="d-flex flex-column">
                    <div class="d-flex flex-row">
                        <label class="fw-bold">First Name : </label>
                        <p class="ms-3" th:text="${member.firstName}"></p>
                    </div>
                    <div class="d-flex flex-row">
                        <label class="fw-bold">Last Name : </label>
                        <p class="ms-3" th:text="${member.lastName}"></p>
                    </div>
                    <div class="d-flex flex-row">
                        <label class="fw-bold">Username : </label>
                        <p class="ms-3" th:text="${member.username}"></p>
                    </div>
                    <div class="d-flex flex-row">
                        <label class="fw-bold">Email : </label>
                        <p class="ms-3" th:text="${member.email}"></p>
                    </div>
                    <div class="mb-3">
                        <a th:href="@{/reset-password}">Change your password</a>
                    </div>
                </div>
            </div>

            <!-- See the posts -->
            <div class="card shadow-lg bg-white mb-5" th:each="post : ${posts}">
                <div class="card-header fw-bold">
                    <div class="d-flex justify-content-between">
                        <p class="m-0" th:text="${post.name}"></p>
                        <p class="m-0" th:text="${post.address}"></p>
                        <p class="m-0" th:text="${post.rating}"></p>
                    </div>
                </div>
                <div class="">
                    <div class="border" th:each="comment : ${post.comments}">
                        <!-- Comment informations -->
                        <div class="card-header">

                            <!-- <div class="d-flex mr-3">
                        <a href=""><img class="img-fluid rounded-circle"
                                src="http://www.themashabrand.com/templates/bootsnipp/post/assets/img/users/4.jpg"
                                alt="User"></a>
                    </div> -->
                            <div class="d-flex justify-content-between">
                                <p class="m-0" th:text="${comment.username}"></p>
                                <small><span><i class="icon ion-md-time"
                                            th:text="${comment.createdAt}"></i></span></small>
                            </div>
                        </div>

                        <div class="card-body d-flex justify-content-between">
                            <!-- Comment message -->
                            <span class="p-2" th:text="${comment.commentText}"></span>

                            <!-- Delete button -->
                            <form th:action="@{/comment/delete/{id}(id=${comment.id})}" method="POST">
                                <button class="btn btn-danger"><i class='fas fa-trash-alt'></i></button>
                            </form>
                        </div>

                        <!-- <span class="comment-avatar float-left">
                    <a href=""><img class="rounded-circle"
                            src="http://www.themashabrand.com/templates/bootsnipp/post/assets/img/users/6.jpg"
                            alt="..."></a>
                </span> -->
                    </div>
                    <div class="cardbox-comments mt-2 mb-2 d-flex">
                        <form th:action="@{/comment/add/{id}(id=${post.id})}" method="POST"
                            class="col-11 d-flex flex-row justify-content-center p-2">
                            <input id="commentTextInput" type="text" class="form-control w-75" name="commentText"
                                placeholder="Write a comment" required>
                            <button class="btn btn-primary"><i class='far fa-paper-plane'></i></button>
                        </form>
                        <div sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                            <form th:action="@{/post/delete/{id}(id=${post.id})}" method="POST" class="p-2">
                                <button class="btn btn-danger align-self-end"><i class='fas fa-trash-alt'></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:insert="fragments/footer :: footer"></div>
</body>

</html>